@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  font-family: 'Bebas Neue', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

$darker-cyan: hsl(187, 40%, 10%);
$dark-cyan: hsl(187, 40%, 34%);
$light-cyan: hsl(187, 40%, 50%);

body {
  background: $dark-cyan;
}

#game {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 32px 1fr 16px 0.5fr 16px 1fr 32px;
  grid-template-rows: 64px 1fr 32px;
}

header {
  display: flex;
  align-items: center;
  grid-area: 1 / 3 / span 1 / span 3;
  background: $light-cyan;
  align-self: center;

  h1 {
    color: $darker-cyan;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
  }
}

#menu {
  grid-area: 2 / 4 / span 1 / span 1;
  background: $darker-cyan;
  color: $light-cyan;
  padding: 16px;

  h2,
  h3 {
    font-weight: normal;
  }

  h2 {
    text-align: center;
    margin-bottom: 32px;
  }

  input[type='submit'],
  button {
    background: $light-cyan;
    color: $darker-cyan;
    border: 0;
    cursor: pointer;
    border-radius: 999px;
    font-size: 1.2rem;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

#change-name {
  label {
    font-size: 1.4rem;
    text-align: center;
    display: block;
    margin-bottom: 32px;
  }
  input {
    border: 0;
    font-size: 1.2rem;
    padding: 4px;
    margin-bottom: 16px;
  }
  input[type='text'] {
    background: #fff;
    color: $darker-cyan;
    width: 100%;
    text-align: center;
  }
}

#shipyard {
  display: none;

  .active-ship {
    border: 2px solid $light-cyan;
  }

  .ship {
    padding: 2px 10px;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 4ch repeat(5, 1fr);
    margin-bottom: 20px;
    gap: 2px;

    p {
      place-self: center;
      font-size: 1.5rem;
    }

    span {
      aspect-ratio: 1/1;
      background: $light-cyan;
      align-self: center;
    }
  }
}

.name {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
  background: $darker-cyan;
  color: $light-cyan;
  justify-self: stretch;
  padding: 0 10px;
}

.name:last-of-type {
  grid-column: 6 / span 1;
  text-align: right;
}

.gameboard {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 2px;
  aspect-ratio: 1/1;
  grid-row: 2 / span 1;
  align-self: center;

  .cell {
    border: 1px solid $darker-cyan;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;

    p {
      font-size: 2rem;
      color: #f00;
    }
  }

  .hit,
  .miss {
    animation: grow 0.2s linear forwards;
  }

  .hit {
    background-image: url('../assets/hit.svg');
  }

  .miss {
    background-image: url('../assets/miss.svg');
  }

  .active {
    background-color: $darker-cyan;
  }
}

#player-gameboard {
  grid-column: 2 / span 1;
}

#computer-gameboard {
  grid-column: 6 / span 1;

  .cell {
    &:hover {
      border: 1px solid lime;
    }
  }
}

#start-game {
  display: none;
}

#game-stats {
  display: none;
  grid-template-rows: 10% 90%;
  height: 100%;
}

#battle-log {
  height: 65vh;
  position: relative;
  overflow-y: hidden;
  border-bottom: 1px solid $light-cyan;
  border-top: 1px solid $light-cyan;
  padding-top: 2px;

  .right-align {
    text-align: right;
  }
}

#after-game {
  display: none;
}

@keyframes grow {
  from {
    background-size: 20%;
  }
  to {
    background-size: 100%;
  }
}
